button:focus {
  outline: none;
  box-shadow: none;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.gap-v-20 {
  height: 100px;
}

.gap-v-50 {
    height: 50px;
}

.gap-v-80 {
    height: 80px;
}

.gap-v-100 {
  height: 100px;
}

.gap-v-150 {
  height: 150px;
}

.row-backend-status {
    min-height: 25px;
}

.row-error-csv {
  height: 20px;
}

/* input[type="file"]::file-selector-button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: rgb(95, 228, 124);
} */

.form-control {
  border-radius: 0px !important;
}

.form-control:focus {
  border-color: #27b055 !important;
}

table {
    /* font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%; */

    border-collapse: collapse;
	border-spacing: 0;
	display: no;
}

.table-row {
  height: 600px;
  overflow: hidden;
}

.table-user {
  height: 600px;
  max-height: 600px;
  overflow-y: scroll;
  overflow-x: scroll;
}

th {
  background: #26b055;
  position: sticky;
  color: #ffffff;
  top: 0;
}

.table th {
  padding: 0.75rem;
  border-top: 0px solid #f6fbf7 !important;
}

.table td {
  padding: 5px 5px 5px 11px;
  vertical-align: top;
  /* border-top: 1px solid #F6FBF7 !important; */
}

.col-no {
  font-size: 13px;
  padding-top: 7px !important;
  width: 100px;
  overflow: hidden;
}

.col-username {
  font-size: 13px;
  padding-top: 7px !important;
  width: 360px;
  overflow: hidden;
}

.col-password {
  font-size: 13px;
  padding-top: 7px !important;
  width: 360px;
  overflow: hidden;
}

.col-status {
  font-size: 10px;
  padding-top: 10px !important;
  width: 270px;
  overflow: hidden;
}

.row-header-table {
  margin-top: -2px;
}
/* @media only screen and (max-width: 460px) {
  .col-username {
    width: 300px !important; 
  }
  
  .col-password {
    width: 200px; 
  }
  
  .col-status {
    width: 120px;
  }
} */

/* .ngx-pagination .current {
    background: #26b055 !important;
} */
.content-center {
  text-align: center !important;
}

.pos-right {
  float: right !important;
}

.pos-left {
  float: left !important;
}

.content-inline-block {
  display: inline-block;
}

.content-inline {
  display: inline;
}

.btn-process {
  width: 110px;
  height: 38px;
  background-color: #26b055;
  color: #ffffff;
  border-radius: 0px;
  margin: 2px;
}

.btn-dropdown {
  width: 150px;
  height: 38px;
  background-color: #26b055;
  color: #ffffff;
  border-radius: 0px;
  margin: 2px;
}

.btn-refresh {
  width: 38px;
  height: 38px;
  color: #26b055;
  background-color: #ffffff;
}

.btn-media {
  width: 120px;
  background-color: #e9e9e9;
  color: #000000;
  border-radius: 0px;
}

.btn-cancel {
  width: 140px;
  background-color: #f33d3d;
  color: #000000;
  border-radius: 0px;
}

.btn-media-active {
  background-color: #26b055;
  color: #ffffff;
}

.download {
  color: #27b055 !important;
  cursor: pointer;
  /* padding-left: 6em; */
}

.status-backend-process {
    width: 230px;
    height: 20px;
    background-color: rgb(95, 228, 124);
}

.stop-process-cause {
    width: 230px;
    height: 20px;
    background-color: red;
}

.alert-text-cause {
    color: #ffffff;
    font-size: 13px;
    margin-left: 5px;
}

.disabled-button {
    opacity: 0.7;
}

.dropdown-toggle::after {
  float: right !important;
  margin-top: 11px !important;
}

.show {
  visibility: visible !important;
  animation: none !important;
}

.label-btn-dropdown {
  float: left;
}

.input-custom-02 {
  width: 150px;
  height: 38px;
  margin-top: 2px;
  position: absolute;
}

.input-custom-03 {
  width: 150px;
  height: 38px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.col-monitor {
  padding-top: 5px;
  padding-bottom: 5px;
}

.label-target {
  margin-right: 5px;
  margin-top: 10px;
  margin-right: 10px;
}

.label-target-width {
  width: 121px;
}

.checkbox-custom {
  margin-top: 15px;
  margin-right: 10px;
}

/* Loading */
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 20px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 8px;
    background: #27b055;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 4px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 16px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 28px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 2px;
      height: 32px;
    }
    50%, 100% {
      top: 8px;
      height: 16px;
    }
  }
  
/* End Loading */


/* Snackbar */

#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  width: 300px;
  /* Set a default minimum width */
  /* margin-left: -125px; */
  margin-left: -150px;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #27b055;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */

.show {
  visibility: visible !important;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
  from {
      bottom: 0;
      opacity: 0;
  }
  to {
      bottom: 30px;
      opacity: 1;
  }
}

@keyframes fadein {
  from {
      bottom: 0;
      opacity: 0;
  }
  to {
      bottom: 30px;
      opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
      bottom: 30px;
      opacity: 1;
  }
  to {
      bottom: 0;
      opacity: 0;
  }
}

@keyframes fadeout {
  from {
      bottom: 30px;
      opacity: 1;
  }
  to {
      bottom: 0;
      opacity: 0;
  }
}

/* End Snackbar */


.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: rgb(95, 94, 94);
}
.styled-checkbox:hover + label:before {
  background: #27b055;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #27b055;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

html {
  background: lightgray;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin-top: 10px;
  margin-right: 10px;
}

.centered {
  width: 150px;
  margin: auto;
}

.centered-2 {
  width: 100px;
  margin: auto;
}

.title {
  text-align: center;
  color: #000000;
}

.modal-container {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  padding-top: 20vh;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}

.container-loading {
  margin: auto;
  display: block;
  padding: 10px;
  background-color: #53e277;
  width: 90%;
  max-width: 600px;
  height: 42vh;
}

/* Loading */
.boxes-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes-position {
  margin: 0;
  top: 50%;
}

.boxes {
  --size: 20px;
  --duration: 800ms;
  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin-top: calc(var(--size) * 1.5 * -1);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}
.boxes .box {
  width: var(--size);
  height: var(--size);
  top: 0;
  left: 0;
  position: absolute;
  transform-style: preserve-3d;
}
.boxes .box:nth-child(1) {
  transform: translate(100%, 0);
  -webkit-animation: box1 var(--duration) linear infinite;
          animation: box1 var(--duration) linear infinite;
}
.boxes .box:nth-child(2) {
  transform: translate(0, 100%);
  -webkit-animation: box2 var(--duration) linear infinite;
          animation: box2 var(--duration) linear infinite;
}
.boxes .box:nth-child(3) {
  transform: translate(100%, 100%);
  -webkit-animation: box3 var(--duration) linear infinite;
          animation: box3 var(--duration) linear infinite;
}
.boxes .box:nth-child(4) {
  transform: translate(200%, 0);
  -webkit-animation: box4 var(--duration) linear infinite;
          animation: box4 var(--duration) linear infinite;
}
.boxes .box > div {
  --background: #5c8df6;
  --top: auto;
  --right: auto;
  --bottom: auto;
  --left: auto;
  --translateZ: calc(var(--size) / 2);
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}
.boxes .box > div:nth-child(1) {
  --top: 0;
  --left: 0;
}
.boxes .box > div:nth-child(2) {
  --background: #145af2;
  --right: 0;
  --rotateY: 90deg;
}
.boxes .box > div:nth-child(3) {
  --background: #447cf5;
  --rotateX: -90deg;
}
.boxes .box > div:nth-child(4) {
  --background: #dbe3f4;
  --top: 0;
  --left: 0;
  --translateZ: calc(var(--size) * 3 * -1);
}

@-webkit-keyframes box1 {
  0%, 50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box1 {
  0%, 50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(200%, 0);
  }
}
@-webkit-keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}
@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}
@-webkit-keyframes box3 {
  0%, 50% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}
@keyframes box3 {
  0%, 50% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}
@-webkit-keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(200%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}
@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(200%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}
