<div class="container">
    <div class="gap-v-80"></div>

    <div class="row">
        <div class="col-12 col-md-12">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-media" [ngClass]="{ 'btn-media-active': mediaMode === 'follow' }"
                    (click)="selectMediaOption('follow')">
                    Follow
                </button>
                <button type="button" class="btn btn-media" [ngClass]="{ 'btn-media-active': mediaMode === 'like' }"
                    (click)="selectMediaOption('like')">
                    Like
                </button>
            </div>
        </div>
    </div>
    <br />
    <div class="row" *ngIf="mediaMode == 'follow'">
        <div class="col-12 col-sm-4 col-md-2">
            <h4>User to Follow</h4>
        </div>
        <div class="col-12 col-sm-8 col-md-5">
            <input type="text" class="form-control" [(ngModel)]="userToFollow" />
        </div>
        <div class="col-none col-md-5">
            <!-- <button type="button" class="btn btn-success" (click)="userInfo()">Check</button> -->
        </div>
    </div>

    <div class="row" *ngIf="mediaMode == 'like'">
        <div class="col-12 col-md-2">
            <h4>Media to like</h4>
        </div>
        <div class="col-12 col-md-5">
            <input type="text" class="form-control input-custom-01" [(ngModel)]="mediaShortCode" />
        </div>
        <div class="col-none col-md-5">
            <!-- <button type="button" class="btn btn-success" (click)="mediaInfo()">Check</button> -->
        </div>
    </div>

    <p></p>
    <div class="row">
        <div class="col-12 col-md-12">
            <h5>Import Account</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <input
                [ngClass]="{'disabled-button': (userToFollow === '' && mediaShortCode === '') || statusProcessBackend}"
                [disabled]="(userToFollow === '' && mediaShortCode === '') || statusProcessBackend" type="file"
                (change)="fileChangeEvent($event)" />
        </div>
        <div class="col-12 col-md-4 d-none d-sm-none d-md-block d-lg-block d-xl-block">
            <div class="content-inline">
                <div class="dropdown content-inline-block">
                    <button class="btn btn-dropdown dropdown-toggle"
                        [disabled]="userList.length == 0 || statusProcessBackend" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p class="label-btn-dropdown">{{ selectListData }}</p>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="optionSelectData('All')">All</a>
                        <a class="dropdown-item" (click)="optionSelectData('First')">First</a>
                        <a class="dropdown-item" (click)="optionSelectData('Last')">Last</a>
                        <a class="dropdown-item" (click)="optionSelectData('Random')">Random</a>
                    </div>
                </div>
                <input type="text" class="form-control input-custom-02 content-inline-block"
                    [disabled]="selectListData == 'All'" [(ngModel)]="numSelectListData"
                    (ngModelChange)="optionSelectData(selectListData)" />
            </div>
        </div>
        <div class="col-12 col-md-4 d-block d-sm-block d-md-none d-lg-none d-xl-none">
            <div class="content-inline">
                <div class="dropdown content-inline-block">
                    <button class="btn btn-dropdown dropdown-toggle"
                        [disabled]="userList.length == 0 || statusProcessBackend" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p class="label-btn-dropdown">{{ selectListData }}</p>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="optionSelectData('All')">All</a>
                        <a class="dropdown-item" (click)="optionSelectData('First')">First</a>
                        <a class="dropdown-item" (click)="optionSelectData('Last')">Last</a>
                        <a class="dropdown-item" (click)="optionSelectData('Random')">Random</a>
                    </div>
                </div>
                <input type="text" class="form-control input-custom-02 content-inline-block"
                    [disabled]="selectListData == 'All'" [(ngModel)]="numSelectListData"
                    (ngModelChange)="optionSelectData(selectListData)" />
            </div>
        </div>

        <div class="col-12 col-md-4 d-none d-sm-none d-md-block d-lg-block d-xl-block">
            <div class="content-inline">
                <input type="text" class="form-control input-custom-03 content-inline-block pos-right"
                    [(ngModel)]="targetProcess" [disabled]="!checkEnableTarget" (ngModelChange)="optionSelectData(selectListData)" />
                <h6 class="label-target content-inline-block pos-right">Target</h6>
                <input class="checkbox-custom content-inline-block pos-right" type="checkbox" (change)="enableTarget($event)">
            </div>
        </div>
        <div class="col-12 col-md-4 d-block d-sm-block d-md-none d-lg-none d-xl-none">
            <div class="content-inline">
                <input class="checkbox-custom content-inline-block" type="checkbox" (change)="enableTarget($event)">
                <h6 class="label-target label-target-width content-inline-block">Target</h6>
                <input type="text" class="form-control input-custom-03 content-inline-block" [(ngModel)]="targetProcess"
                [disabled]="!checkEnableTarget" (ngModelChange)="optionSelectData(selectListData)" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
        <div class="col-12 col-md-4 d-none d-sm-none d-md-block d-lg-block d-xl-block">
            <div class="content-inline">
                <button type="button" class="btn btn-refresh pos-right" (click)="getUserList()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
                <button type="button" [disabled]="statusProcessBackend" class="btn btn-refresh pos-right"
                    (click)="clearBackendProcess()">
                    <i class="fa fa-eraser" aria-hidden="true"></i>
                </button>
                <button
                    [disabled]="displayUserList.length == 0 || (userToFollow == '' && mediaShortCode == '') || statusProcessBackend"
                    type="button" class="btn btn-process pos-right" (click)="process()">
                    <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;&nbsp;Process
                </button>
            </div>
        </div>
        <div class="col-12 col-md-4 d-block d-sm-block d-md-none d-lg-none d-xl-none">
            <div class="content-inline">
                <button
                    [disabled]="displayUserList.length == 0 || (userToFollow == '' && mediaShortCode == '') || statusProcessBackend"
                    type="button" class="btn btn-process" (click)="process()">
                    <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;&nbsp;Process
                </button>
                <button type="button" class="btn btn-refresh" (click)="getUserList()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
                <button type="button" [disabled]="statusProcessBackend" class="btn btn-refresh"
                    (click)="clearBackendProcess()">
                    <i class="fa fa-eraser" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12 col-md-4 col-monitor">
            <div *ngIf="checkEnableTarget == false">
                <p class="content-inline">Process : </p>
                <p class="content-inline">{{ processCount }} / {{ totalCount }}</p>
                &nbsp;|&nbsp;
                <p class="content-inline">Success : </p>
                <p class="content-inline">{{ successCount }}</p>
                &nbsp;|&nbsp;
                <p class="content-inline">Error : </p>
                <p class="content-inline">{{ errorCount }}</p>
            </div>
            <div *ngIf="checkEnableTarget == true">
                <p class="content-inline">Process : </p>
                <p class="content-inline">{{ processCount }}</p>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <button type="button" [disabled]="!statusProcessBackend" class="btn btn-cancel" (click)="cencelOrder()">
                Cancel Order
            </button>
        </div>

        <div class="col-12 col-md-4 d-none d-sm-none d-md-block d-lg-block d-xl-block col-monitor">
            <a *ngIf="displayUserList.length > 0 && !statusProcessBackend" class="download pos-right"
                (click)="downloadCSV({ filename: 'result.csv' })"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
                Result.csv</a>
        </div>

        <div class="col-12 col-md-4 d-block d-sm-block d-md-none d-lg-none d-xl-none col-monitor">
            <div class="row-error-csv">
                <a *ngIf="displayUserList.length > 0 && !statusProcessBackend" class="download"
                    (click)="downloadCSV({ filename: 'result.csv' })"><i class="fa fa-file-excel-o"
                        aria-hidden="true"></i> Result.csv</a>
            </div>
        </div>
    </div>
    <p></p>
    <div class="row row-backend-status">
        <div class="col-2 col-md-2">
            <div *ngIf="statusProcessBackend" class="content-inline-block">
                <div class="lds-facebook">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <!-- <div *ngIf="stopProcessCause != ''" class="stop-process-cause content-inline-block">
                <p class="alert-text-cause">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;&nbsp;{{ stopProcessCause }}
                </p>
            </div> -->
        </div>
        <div class="col-10 col-md-10">
            <div *ngIf="statusProcessBackend">
                <h6 class="content-inline">{{ inProcessMessage }}</h6>
                <p *ngIf="processStage == 'checking'" class="content-inline"> Checking : </p>
                <p *ngIf="processStage == 'checking'" class="content-inline">{{ checkingCount }} / {{ errorLoginAmount
                    }}</p>
            </div>
        </div>
    </div>
    <p></p>
    <div class="row table-row">
        <div class="col-12 col-md-12">
            <div class="table-user">
                <table class="table table-borderles">
                    <thead>
                        <tr>
                            <th class="col-no"></th>
                            <th>
                                Username
                            </th>
                            <th>
                                Password
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody
                        *ngFor=" let i = index; let item; of: displayUserList | paginate: { itemsPerPage: 30, currentPage: p }">
                        <!-- <tbody *ngFor="let i = index; let item of userList"> -->
                        <tr>
                            <td class="col-no">{{ itemsPerPage * (p - 1) + (i + 1) }}</td>
                            <td class="col-username">{{ item.username }}</td>
                            <td class="col-password">{{ item.password }}</td>
                            <td class="col-status">{{ item.status }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="pos-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>

    <br />
</div>

<div id="modal-loading" class="modal-container">
    <div class="container-loading">
        <div class="row">
            <div class="gap-v-150">

            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="boxes-container">
                    <div class="boxes boxes-position">
                        <div class="box">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="box">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="box">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="box">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    
                    <!-- dribbble -->
                    <!-- <a class="dribbble" href="https://dribbble.com/shots/5533600-Loading-boxes" target="_blank"><img src="https://cdn.dribbble.com/assets/dribbble-ball-mark-2bd45f09c2fb58dbbfb44766d5d1d07c5a12972d602ef8b32204d28fa3dda554.svg" alt=""></a> -->
                </div>
            </div>
        </div>
    </div>
</div>


<div id="snackbar">{{ titleSnackBar }}</div>