/* You can add global styles to this file, and also import other style files */

.ngx-pagination .current,
.btn-info {
  background: #26b055 !important;
}

input[type="file"]::file-selector-button {
  border: 1px solid #27b055;
  padding: 0.2em 0.4em;
  background-color: #27b055;
  height: 38px;
  transition: 1s;
  color: #ffffff;
  width: 110px;
  margin: 2px;
  margin-right: 12px !important;
  border-radius: 0px;
  cursor: pointer;
}
