<div class="body-site">
    <nav class="navbar navbar-expand-lg navbar-dark nav-fixed nav-custom">
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <!-- <a class="navbar-brand" href="https://tagritech.com">
            <img src="./assets/images/tfarmth-logo.png" class="site-logo" alt="TAgritech Logo">
        </a> -->
        <!-- <div class="pos-right d-block d-sm-block d-md-block d-lg-none d-xl-none">
            <button *ngIf="!imgContentView" class="btn btn-outline-success my-2 my-sm-0 btn-nav-01"
                (click)="goImgToText()"><i class="fa fa-reply" aria-hidden="true"></i></button>
        </div> -->

        <div class="pos-right d-block d-sm-block d-md-block d-lg-none d-xl-none">
            <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;INSTAGRAM BOT
            <!-- <div class="img-profile pos-right">
                <img class="site-img-profile">
            </div> -->
        </div>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;INSTAGRAM BOT
            <div class="mr-auto"></div>

            <!-- <button *ngIf="!imgContentView" class="btn btn-outline-success my-2 my-sm-0 btn-nav-01"
                (click)="goImgToText()">Image to Text</button>&nbsp;
            <button *ngIf="imgContentView" class="btn btn-outline-success my-2 my-sm-0 btn-nav-01"
                (click)="goTermProvacy()">Term
                and
                Privacy</button>&nbsp;
            <button class="btn btn-outline-success my-2 my-sm-0 btn-nav-01" (click)="viweContact()">Contact</button> -->
            <!-- <button class="btn btn-outline-success btn-01 my-2 my-sm-0 btn-nav-01" (click)="openModal('modal-tfa')">TFA</button>&nbsp;&nbsp; -->
            <div class="img-profile">
                <img class="site-img-profile">
                <!-- <img [src]="imgProfile" class="site-img-profile" (click)="openModal('modal-enabletfa')"> -->
            </div>
        </div>
    </nav>

    <div class="router-content">
        <router-outlet></router-outlet>
    </div>

    <div id="modal-enabletfa" class="modal-container">
        <div class="content-container">
            <h3>Enable 2 Factor Authentication</h3>
            <br>
            <div class="row">
                <!-- <div *ngIf="tfa" class="col-12 black-title">
                    <p>Scan the QR code or enter the secret key in Google Authenticator</p>

                    <img [src]="tfa.dataURL" alt="" class="img-thumbnail" style="display:block;margin:auto">
            
                    <p>Secret Key - {{tfa.tempSecret}}</p>
            
                    <input type="text" class="form-control" [(ngModel)]="token">
                </div> -->
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-12 pos-center">
                    <!-- <button type="button" class="btn btn-style-04" (click)="enableAuthTFA()">Enable</button>&nbsp;
                    <button type="button" class="btn btn-style-04" (click)="closeModal('modal-enabletfa')">Close</button> -->
                </div>
            </div>
        </div>
    </div>
</div>