.body-site {
    max-width: 100%;
    overflow-x: hidden;
}

.btn-01 {
    border-color: black;
    color: black;
}

.router-content {
    min-height: 100%;
}

.nav-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    margin-bottom: -80px;
}

.nav-custom {
    width: 100%;
    height: 60px;
    background-color: #27b055;
}

.site-logo {
    height: 33px;
    width: 95px;
}

.img-profile {
    width: 40px;
    height: 40px;
    border-radius: 24px;
    background-color: #ffffff;
    overflow: hidden;
}

.site-img-profile {
    width: 40px;
    height: 40px;
}

.pos-right {
    float: right;
}

.modal-container {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    padding-top: 20vh;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
}

.content-container {
    margin: auto;
    display: block;
    padding: 10px;
    background-color: #53e277;
    width: 90%;
    max-width: 600px;
    min-height: 42vh;
}
